trunk/dwin/buglist/defs/buglist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by alakim (IVC) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="application" type="xs:string">
		<xs:annotation>
			<xs:documentation>Описание приложения, для котогоро составляется баглист</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bug">
		<xs:annotation>
			<xs:documentation>Ошибка</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ref"/>
				<xs:element ref="fixed"/>
				<xs:element ref="p"/>
				<xs:element ref="supposition"/>
				<xs:element ref="statement"/>
				<xs:element ref="todo"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="date" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата обнаружения ошибки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tester" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Тестер, обнаруживший ошибку</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="title" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Заголовок - краткое наименование ошибки.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="module" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Ссылка на программный модуль, в котором произошла ошибка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="priority" type="xs:int">
				<xs:annotation>
					<xs:documentation>Приоритет исправления ошибки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="buglist">
		<xs:annotation>
			<xs:documentation>Корневой элемент. Содержит список ошибок и дополнительные словари.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="application"/>
				<xs:element ref="persons"/>
				<xs:element ref="categories"/>
				<xs:element ref="modules"/>
				<xs:element ref="bugs"/>
			</xs:sequence>
			<xs:attribute name="bugPrefix" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Префикс, добавляемый к идентификатору ошибки.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="comments" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Комментарии к баглисту</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="bugs">
		<xs:annotation>
			<xs:documentation>Коллекция ошибок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bug" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="categories">
		<xs:annotation>
			<xs:documentation>Список категорий для классификации ошибок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:annotation>
			<xs:documentation>Категория для классификации ошибок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID" use="required">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="module">
		<xs:annotation>
			<xs:documentation>Описание программного модуля</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID" use="required">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="modules">
		<xs:annotation>
			<xs:documentation>Коллекция описаний программных модулей</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="module" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:annotation>
			<xs:documentation>Персональные данные участника проекта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID" use="required">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="persons">
		<xs:annotation>
			<xs:documentation>Коллекция персональных данных участников проекта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref">
		<xs:annotation>
			<xs:documentation>Ссылка на элемент документа</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="category" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Ссылка на элемент "Категория"</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bug" type="xs:IDREF" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fixed">
		<xs:annotation>
			<xs:documentation>Отметка об устранении ошибки</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="date" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата устранения ошибки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="programmer" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Программист, устранивший ошибку</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:annotation>
			<xs:documentation>Абзац текста</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="supposition">
		<xs:annotation>
			<xs:documentation>Предположение о причине ошибки</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ref"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="statement">
		<xs:annotation>
			<xs:documentation>Утверждение о причине ошибки</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ref"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="todo">
		<xs:annotation>
			<xs:documentation>Предполагаемое действие</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ref"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
